
body>.container {
  padding-bottom: 2em;
}

.navbar-default .navbar-nav>.active>a,
.navbar {
  background-color: #6f5499;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background: #777777;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background: #777777;
}

.footer {
  background: #263238;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 111px;
}

.footer>.container {
  position: relative;
  top: 50%;
  margin-top: -7px;
}